<div class="border">
    <table class="table table-bordered" style="width: 100%;">
      <thead>
        <tr>
          <th>Title</th>
          <th>Duration(Minutes)</th>
          <th>Genre</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pl of database.playlists">
          <td>{{pl.title}}</td>
          <td>{{pl.duration}}</td>
          <td>{{pl.gen}}</td>
          <td><button class="btn" (click)="remove(pl.id)"><i class="fa fa-close"></i></button></td>
        </tr>
      </tbody>
    </table>
  </div>
